.globeWrap{
    z-index: -999;
    top:0;
    position:absolute;
    height:100%;
    width:100%;
    margin:0 auto;
    background: $Blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}