*{
   box-sizing: border-box;
}
h1{
    font-size:2rem;
}
h2{
    font-size:1.5rem;
}
h3{
    font-size:1.3rem;
}
@import "./GlobalVars.scss";
@import "./Layout.scss";
@import "./Nav.scss";
@import "./App.scss";
@import "./SignIn.scss";
@import "./Profile.scss";
@import "./Stories.scss";
@import "./Globe.scss";
@import "./Photos.scss";
@import "./Photo.scss";