.navigation{
    display: flex;
    font-family: $Titles;
    justify-content: space-evenly;
    align-items: center;
    background:$Background;
    color: $Black;
    a{
        text-decoration:none;
    }
}