body {
    margin-top: 50px;
}
.NavII{
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        list-style: none;
        button{
            background: $Blue;
            border: $Blue solid 1px;
            color: $Yellow;
            width:16ch;
        }
        button:hover {
            background-color: black;
        }
    }
}

.profileWrap{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20%;
    font-family: $Titles;
    header{
        border-bottom: gray dotted 2px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .personalInfo{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: gray dotted 2px;
        width: 50%;
    }
    .storiesContainer {
        border-bottom: 1px solid greenyellow;
        padding-bottom: 10px;

        .recentStoriesLabel {
            border-bottom: 2px solid black;
            text-align: center;
        }
    }
    .photos{
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-bottom:gray dotted 1px;
        li{
            margin:2ch;
        }
        button{
        align-self:end;
        }

    }
}